{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="row" >
        <div class="col parent-content">
            <div class="fancy-content" style="width: 40%; margin: auto">
                <div class="form-row">
                    <h1>Please sign in</h1>
                    <form method="post">
                        {# If there's any error, display it to the user #}
                        {% if error %}
                            <div class="alert alert-danger">Invalid user or password</div>
                        {% endif %}

                        {# Email Input #}
                        <label for="inputEmail" >Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="user@mail.com" required autofocus>

                        {# Password Input #}
                        <label for="inputPassword" >Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*****" required>

                        {# CSRF Token Input #}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <br>
                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                        <a class="float-end" href="{{ path('register') }}">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}