{% extends 'base.html.twig' %}

{% block title %}New ContactMessage{% endblock %}

{% block body %}
<div class="row" >
    <div class="col parent-content">
        <div class="fancy-content">
            <div class="form-row">
                <h1>Contact</h1>

                {{ include('contact_message/_form.html.twig') }}

                <a class="btn btn-dark" href="{{ path('contact_message_index') }}">back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
